---
extension: html
filter:
  - erb
  - haml
layout: default
---
.article
  %h2.title= link_to @page.title, @page.url
  %p.meta
    written by
    = @page.author
    on
    = @page.created_at.strftime("%Y-%m-%d")
  .body
    = @content
  .footer
    - if @page.categories && !@page.categories.empty?
      %h4.meta posted in:
      %p= @page.categories.join(", ")
    - if @page.tags && !@page.tags.empty?
      %h4.meta tags:
      %p= @page.tags.join(", ")

    - if true
      %h4.meta comments are closed
    -else
      %h4.meta accepting comments
      .comments
        = link_to "X comments", "{@page.url}#comments"

  #commentslist
    %h3#comments.content
      Comments
    %p Will be imported into disqus real soon.
/
  #commentform
    %h3.content
      Comments are closed
